{% extends "add3.html" %}{% block links1 %}{% include "link_search.html" %}{% endblock %}{% block links %}{% include "link_search.html" %}{% endblock %}{% block form %}
<div align="center">
    <h3>{{caption.1}}</h3>
    <form name="frmQ" method="POST">
        {% csrf_token %}{% autoescape off %}{{form_search}}{% endautoescape %}
    </form>
</div>
<div id="help-body" class="help-body" style="display: none;" align="center">
    <p>В строгом режиме записи фильтруются по указанным параметрам поиска.<br>
    Иначе выбираются все записи, соответствующие хотя бы одному из указанных параметров поиска.</p>
</div>
{% autoescape off %}{{message}}{% endautoescape %}{% endblock %}
